ul {
  list-style-type:none;
  padding: 0;
}

article, figure, section, aside, body > header {
  outline: solid 1px;
}

h2, h3, h1, figcaption {
  font-family: "Roboto", sans-serif;  
}

p, a {
  font-family: "Raleway", sans-serif;
}

figure {
  margin: 10px;
  padding: 10px;
}

figcaption {
  font-weight: 100;
  font-style: italic;
  color: #000405;  
}

a {
  text-decoration: underline;
  font-style: italic;
  color: #000405;
}

article, nav {
  margin: 10px;
}

footer {
  margin-top : 10px;
}

body > header h1 {
  font-size: 50px;
}

article > h1 {
  font-size: 30px;
}

article > header h1 {
  font-size: 20px;
}

article > header h2 {
  font-size: 15px;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-direction: column;
}

header nav {
  flex-grow: 2;
  align-items: flex-end;
}

.main-menu {
  flex-basis: 100%;
  justify-content: space-around;
}

.main-content {
  align-items: flex-start;
}

.article-content {
  flex-wrap: wrap;
  align-items: flex-start;
}

.article-content p {
  flex-basis: 50%;
}

.article-content p:nth-of-type(2) {
  order: 1;
}
/*
is equivalent to :
.article-content p:nth-child(3) {
  order: 1;
}

see https://la-cascade.io/nth-child/
*/

body > footer {
  justify-content: space-between;
  align-items: flex-end;
}

.footer-menu ul {
  margin-left: 10px;
}